<!DOCTYPE html>
<html>
<head>
<title><%=title %></title>
  <%= stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/djime-cerulean/style", "web-app-theme/override", :cache => false %>
  <%= javascript_include_tag :defaults, :cache => false %> <!--changed from T to F for Heroku to work -->
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/">Palatable: A Bookmark Storing Site</a></h1>
      <div id="user-navigation">
      </div>
      <div id="main-navigation">
        <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List All")}", bookmarks_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "Add New")}", add_path %></li>
      <li><%= link_to "Contact Us", contact_path %>
    </ul>
      </div>
    </div>    
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main"> 
      <div class="block">         
      	<%= yield %> <!-- renders each different page -->
      </div>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.now.year %> DeLaina Siltman</p>
          <%= debug(params) if Rails.env.development? %>
            </div>      
        </div>
      </div>
      <div id="sidebar">

        <%= render 'layouts/sidebar' %>
      </div>
    </div>    
  </div>
</body>
</html>
